.custom-nav {
    height: 100px;
}

#brand {
    margin-left: 2%;
}

.banner {
    line-height: 2%;
    background: url('images/bg.jpg') no-repeat;
    background-size: cover;
    opacity: 0.9;
    color: black;
    width: 100%;
    height: 700px;
}

.banner-content {
    font-size: xx-large;
}

.headh1 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.3;
    color: #000;
    /*font-style: bolder;*/
    font-weight: 900;

}

.text1 {
    color: navy;
}

.custombtn {
    width: 25%;
    border: 2px solid navy;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: ;
    color: navy;
    height: 40%;
    margin-top: 4%;
}

.section4 {
    height: 60px;
    background: navy;
    color: #fff;
    font-size: 1rem;
    opacity: 0.85;
    padding: 5%;
}

.custom-disp {
    background-color: #fff;
    margin: 0;
    padding-bottom: 5px;
    margin-top: 3%;
}

.custom-disptext {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 2rem;
    line-height: 1.1;

    font-weight: 900;

}

.customdisptext1 {
    font-size: 1.2rem;
    font-family: 'Montserrat-black', sans-serif;
    line-height: 1.5;
}

.customdisptext1ul {
    font-size: 1rem;
    font-family: 'Montserrat-black', sans-serif;
    line-height: 2;

}

.litype {
    list-style-type: square;
    list-style-position: outside;

}

.custom-img {
    margin-top: 5%;
    margin-bottom: 5%;
    /*height: 25%;*/
}

.custom-view {

    padding: 3px;
    margin-left: -5%;
    padding-left: 0px;
    margin-top: 5%;
    width: 40%;
    /*border-radius: auto;*/
    margin-bottom: 3%;
    /*height: 15%;*/
    text-align: center;

}

.custom-view a {

    /*text-decoration: none;*/
    margin-top: 1%;
    font-family: serif;
    font-size: large;
    color: white;
}

.sec4 {
    margin-top: 15%;
    /*margin-bottom: 2%;*/
}

.sec5 {
    margin-top: 10%;
    /*margin-bottom: 2%;*/
    line-height: 1.5;
}

.custom-disp1 {
    background-color: #fff;
    margin: 0;
    padding-bottom: 5px;
    margin-bottom: 3%;
    margin-top: 3%;
}

.custom-img1 {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
}

.custom-wdisp {
    background: url('images/wave.png');

    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;

    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 105px;
    padding-bottom: 97px;
}

.custom-wdisptext {
    font-family: serif;
    font-size: large;
    padding-top: 3%;
    text-align: center;
    padding-bottom: 6%;

}

.customdisptext1ul {
    font-size: 1rem;
    font-family: 'Montserrat-black', sans-serif;
    line-height: 1;

}

.litype1 {
    list-style-type: none;
    list-style-position: outside;
}

.litype1 img {
    width: 70px;
    height: 70px;
    max-width: unset;
}

.litype2 {
    list-style-type: none;
    list-style-position: outside;
}

.litype2 img {
    width: 70px;
    height: 70px;
    max-width: unset;
}

.custom-img2 {
    /*width: 30%;*/
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
    /*height: 25%;*/
}

.spanc1 {
    font-size: 1.5rem;
    font-family: 'Montserrat-black', sans-serif;
    line-height: 1;
    /*color: blue;*/

}

.litype1 h6 {
    margin-top: 3%;
    line-height: 1.3;
}

.litype2 h6 {
    margin-top: 3%;
    line-height: 1.3;
}

.sec6 {
    margin-top: 4%;
    line-height: 1.5;
}

.section10 {
    color: #fff;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1rem;
    /*margin-left: 20%;
	margin-right: 20%;*/
    background-color: whitesmoke;
    opacity: 0.9;
    text-align: center;
}

.section11 {
    margin-top: 0px;
    padding-top: 6%;
    background-color: white;
    padding-bottom: 2%;
}

.holder {

    text-align: center;
    font-size: large;
    /*margin-bottom: 5%;*/
    border: 1px solid whitesmoke;
    border-radius: 0;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: whitesmoke;
}

.holder img {
    width: 70px;
    height: 70px;
}

.contentabout {
    margin-top: 5%;

}

.section12 {
    margin-top: 0px;
    /*padding-top: 6%;*/
    background-color: white;
    padding-bottom: 4%;
}

.contentabout1 {
    margin-top: 0%;

}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 20px auto 0 auto;
    text-align: center;
    margin-left: 40%;


}

.custom-wdisp12 {
    background-color: navy;
    opacity: 0.9;
    color: white;
    margin: 0;
    padding-bottom: 5px;
    margin-bottom: 5%;
}

.custom-wdisptext12 {
    font-family: serif;
    font-size: large;
    margin-top: 6%;
    margin-bottom: 6%;

}

#press {
    background-color: navy;
    opacity: 0.9;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

#press img {
    width: 23%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
}

.main-footer {

    color: black;
    background: url('images/footer.jpg') no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 10%;
    font-size: 16px;
    font-family: sans-serif;
    padding-bottom: 5%;
    height: 50%;

}

.main-footer ul li {
    margin-left: -15%;
    list-style-type: none;

    margin-bottom: 1px;
}

.main-footer ul li a {
    text-decoration: none;
}

.icon-bar a {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 6px;
    transition: all 0.3s ease;
    color: white;
    font-size: 22px;
    opacity: 0.9;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {

    color: black;
}

.twitter {

    color: black;
}

.google {

    color: black;
}

.linkedin {

    color: black;
}

.youtube {

    color: black;
}







@media (max-width: 576px) {
    .headh1 {
        font-family: 'Montserrat-black', sans-serif;
        font-size: 2rem;
        line-height: 1.3;
        color: #000;
        font-weight: 900;
    }

    .banner {
        line-height: 2%;
        background: url('images/bg1.jpg') no-repeat;
        background-size: cover;
        opacity: 0.9;
        color: black;
        width: 100%;
        height: 700px;
    }

    .custombtn {
        width: 35%;
        border: 2px solid navy;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: ;
        color: navy;
        margin-top: 4%;
    }

    .custom-disp {
        margin-top: 12%;
    }

    .custom-wdisp {

        color: white;
        margin: 0;

        margin-bottom: 5%;
        margin-top: 5%;
    }

    .custom-wdisptext {
        font-family: serif;
        font-size: large;
        padding-top: 6%;
        text-align: center;
        padding-bottom: 2%;

    }

    .section10 {
        color: #fff;
        font-size: 0.5rem;
        text-align: center;
        background-color: whitesmoke;
    }

    .mleft1 {
        margin-left: -10%;
        margin-top: 5%;
    }

    .techrow {
        margin-top: 3%;
        margin-left: 22%;
        margin-right: 5%;
        margin-bottom: 5%;
    }

    .main-footer {
        text-align: center;
    }
}